<div id="main-embed">
    <%= render 'title', :item => @item, :link => @item.identifier %>
    
    <%= render 'warnings' %>
    
    <!-- compiled content -->
    <div id="content-embed">
      <%= @item.compiled_content %>
    </div>

    <%= render 'next-prev', :item => @item %>

    <%= render 'comments', :item => @item %>
</div>


