<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta name="generator" content="nanoc">
    <link rel="alternate" href="/rss.xml" type="application/rss+xml"
          title="lies and wonderland" />
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25523509-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <!-- breadcrumb navigation -->
    <div class="crumb">
      <%= breadcrumbs_trail.map do |crumb|
          target = crumb[:short_title] || crumb[:title] || crumb.name
          "<a class='crumb' href='#{crumb.identifier}'>#{target}</a>"
          end.join(" » ") %>
    </div>

    <!-- actual content -->
    <div class="main">
      <!-- epistemic and technical state -->
      <div class="episteme">
      <% if @item[:episteme] %>
      <p><span class="align_left">
          Last modified on <%= @item[:date] %> (<%= techne @item[:techne] %>).
        </span>
        <span class="align_right">
          Epistemic state:
          <a class='episteme' href='/episteme/'><%= @item[:episteme] %></a>.
        </span>
      </p>
      <% end %>
      </div>
      
<%= yield %>

    </div>

  </body>
</html>
