<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="generator" content="nanoc" />
    <link rel="alternate" href="/rss.xml" type="application/rss+xml"
          title="lies and wonderland" />
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25523509-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="<%= @item[:toc] ? "body-toc" : "body" %>">
      <!-- main part -->
      <div id="main">
        <!-- page title -->
        <% if @item[:title] %>
          <div id="title"><h1 class="title">
              <a class="title" href="/">
                <%= @item[:is_category] ? "Category Index" : @item[:title] %>
              </a>
            </h1></div>
        <% end %>

        <!-- epistemic and technical state -->
        <div id="episteme">
          <% if @item[:episteme] %>
            <p><span class="align_left">
                Last modified:
                <a class='episteme' href='/changelog/'>
                  <%= @item[:date] %>
                </a> (<%= techne @item[:techne] %>).
              </span>
              <span class="align_right">
                Epistemic state:
                <a class='episteme' href='/episteme/'>
                  <%= episteme @item[:episteme] %></a>.
              </span>
            </p>
          <% end %>
        </div>

        <!-- actual content (not indented to protect markdown) -->
        <div id="content">

          <%= yield %>

        </div>
        
        <!-- comments -->
        <% unless @item[:no_comments] or @item[:is_category] %>
          <div id="disqus">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = 'muflax';
              var disqus_identifier = '<%= @item.identifier %>';
              var disqus_url = 'http://muflax.com<%= @item.identifier %>';

              (function() {
              var dsq = document.createElement('script')
              dsq.type = 'text/javascript'
              dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the
              <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
            <a href="http://disqus.com" class="dsq-brlink">
              blog comments powered by <span class="logo-disqus">Disqus</span>
            </a>
          </div>
        <% end %>
      </div>

      <% if @item[:toc] %>
        <!-- navigation sidebar with toc -->
        <div id="nav">
          <div id="toc">
            <%= toc %>
          </div>
        </div>
      <% end %>
      
    </div>
    <!-- breadcrumb navigation -->
    <div id="crumb">
      <%= breadcrumbs.map do |crumb|
            "<a class='crumb' href='#{crumb[:link]}'>#{crumb[:title].downcase}</a>"
          end.join(" » ") %>
    </div>

  </body>
</html>
