<div id="<%= @navbar ? "body-nav" : "body" %>">

  <!-- main part -->
  <div id="main">
    <%= render 'title' %>

    <%= render 'warnings' %>
    
    <% render 'content' do %>
         <%= yield %>
    <% end %>

    <% if @site.blog? %>
    <%= render 'next-prev' %>
    <% end %>

    <%= render 'comments' %>
  </div>

  <% if @navbar %>
    <!-- navigation sidebar -->
    <div id="nav">

      <% if @site.beeminded? %>
        <%= render 'beeminder-eta', :goal => @site.beeminder_goal %>
      <% end %>

      <h1 class="title">Navigation</h1>

      <% if @search %>
        <%= google_search %>
      <% end %>

      <% if @toc %>
        <%= render 'toc' %>
      <% end %>

      <% if @categories %>
        <%= render 'cat-nav', :item => @item %>
      <% end %>
      
    </div>
  <% end %>

</div>

<% if @breadcrumbs %>
  <%= render 'breadcrumb' %>
<% end %>
